<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
    </head>
<body>
    <% 
    function cleanHTML(input) {
        var output = input.replace(/&#(\d+);/g, function(match, dec) { return String.fromCharCode(dec); })
                          .replace(/&#x([a-fA-F0-9]+);/g, function(match, hex) { return String.fromCharCode(parseInt(hex, 16)); });
        output = unescape(output);
        output = output.replace(/&amp;/g, "&")
                       .replace(/&lt;/g, "<")
                       .replace(/&gt;/g, ">")
                       .replace(/&quot;/g, '"')
                       .replace(/&apos;/g, "'");
        output = output.replace(/<\/?[^>]+(>|$)/g, "");
        return output;
    }
    %>

    <h2><% if (minority_gender === "female") { %> Women <% } else { %> Men <% } %> who might fit the role of '<%= cleanHTML(job_title.toLowerCase()) %>'</h2>

    <% if (typeof error !== 'undefined') { %>
        <div>
            <strong>Error:</strong> <%= error %>
        </div>
    <% } else if(employees_data.length == 0){ %>
            <p>No relevant results found.</p>
    <% } else {
        for(var i = 0; i < employees_data.length; i++) { 
            var name = cleanHTML(employees_data[i].name);
            var title = cleanHTML(employees_data[i].title);
            var company = cleanHTML(employees_data[i].company);
            var gender = cleanHTML(employees_data[i].gender);
            var probability = employees_data[i].probability;
            console.log(`Probability of ${name} being ${gender} = ${probability}`);
            var about = cleanHTML(employees_data[i].about);
        %>
                <p style="font-size: 1em"><a href="<%= employees_data[i].link %>"" target="blank"><%= name %></a></p>
                <p>Title: <%= title %></p>
                <p>Company/location: <%= company %></p>
                <p>About: <%= about %></p>
                <hr>
        <% }
    } %>

    
</body>
</html>
